body{
  background: #000;
  padding-top: 10px;
} 


h3 {
	color: lime; 
  	font-family: "Courier";
}

p.type-writer{
  color: lime; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 2.5s steps(100, end) infinite; 
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

/*@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} */

@keyframes blink{
  to{opacity: .0;}
}
