.loader {
  border: 6px solid #eee;
  border-radius: 50%;
  border-top: 6px solid #6db5f1;
  width: 40px;
  height: 40px;
  animation: spinner 2s linear infinite; 
}


@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 