body {
	background-color : #eee;
	text-align: center;
}

a {
	position : relative;
	color: #518b96;
	display : inline-block;
	border-radius: 10px;
	background-color:#d8cece;
	box-shadow : 0px 9px 0px #6d6969, 0px 9px 25px rgba(0, 0, 0, .7);
	font-size: 40px;
	padding:10px;
	margin-top:50px;
	text-decoration: none;
}

a:active {
	box-shadow: 0px 3px 0px #6d6969, 0px 3px 6px rgba(0, 0, 0, .9);
	position: relative;
	top: 6px;
}